<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="index_body">
  <header class="index_header">
    <img class="index_header__logo" src="/images/Gold Luxury Business Logo.png" alt="logo">
    <nav class="index_nav">
      <ul class="index_nav__ul">
        <li class="index_nav__li"><a href="">Inicio</a></li>
        <li class="index_nav__li"><a href="">Contacto</a></li>
        <li class="index_nav__li"><a href="">Planetas</a></li>
        <li class="index_nav__li"><a href="">Astros</a></li>
        <li class="index_nav__li"><a href="">Constelaciones</a></li>
      </ul>
    </nav>
  </header>


  <main class="index_body__main">
    <div id="root" class="index_body__container">
      <h1>Bienvenido a AstroData</h1>
      <p>
        Explora el fascinante mundo del universo, cosmos y planetas.
      </p>
    </div>
  </main>
  <footer class="index_body__footer">

  </footer>
  <script src="/javascripts/index.js"></script>
</body>

</html>